h2{
    margin-left: auto;
    margin-right: auto;
    width: 6em;
    margin-top: 2%;
    
}

p{
    width: 700px; 
    margin-left: auto;
    margin-right: auto; 
    font-size: 93%;
}

h4{
    width: 700px; 
    margin-left: auto;
    margin-right: auto; 
    margin-top: 4%;
}

