.login {
  text-align: center;
}

.login p {
  color: #aaa;
}

@media (max-width: 768px) {
  .login {
    width: 90%;
    margin: 0 auto;
  }

  .login form {
    max-width: 90%;
    margin: 0 auto;
  }
}
