.post_container {
  text-align: center;
}

.post_container img {
  width: 600px;
}

.post_container .tags {
  display: flex;
  justify-content: center;
}

.tags p {
  margin-right: 1em;
}

.tags span {
  font-weight: bold;
}

@media (max-width: 768px) {
  .post_container {
    width: 90%;
    margin: 0 auto;
  }

  .post_container img {
    width: 100%;
  }

  .post_container p {
    text-align: center;
  }
}

.tags {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 10px;
  padding-bottom: 10px;
}

.tags p {
  margin: 0;
}
