.create_post {
  text-align: center;
}

.create_post h2 {
  font-size: 2.2em;
}

.create_post p {
  color: #aaa;
  margin-bottom: 2em;
}

@media (max-width: 768px) {
  .create_post {
    width: 90%;
    margin: 0 auto;
  }

  .create_post form {
    max-width: 90%;
    margin: 0 auto;
  }
}
